<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="register()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input
          formControlName="confirmPassword"
          type="password"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" [disabled]="this.form.invalid" expand="full"
      >Register</ion-button
    >
    <hr />
    <div class="ion-text-center">
      Go back to <a [routerLink]="['/']">Login</a>
    </div>
  </form>
</ion-content>
