<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Picture upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="openCamera()" expand="full">Open Camera</ion-button>
  <ion-button (click)="openGallery()" expand="full">Open Gallery</ion-button>
  <img
    *ngIf="base64Image"
    [src]="base64Image"
    alt="your photo will be displayed here"
  />
  <img
    *ngIf="!base64Image"
    [src]="placeholderPictureUrl"
    alt="your photo will be displayed here"
  />
</ion-content>
<ion-footer class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="uploadPhoto()">
    <ion-item>
      <ion-label>Categories</ion-label>
      <ion-select multiple="true" interface="alert" formControlName="category">
        <ion-select-option
          *ngFor="let category of categories"
          [value]="category"
          >{{category.name}}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select multiple="false" interface="alert" formControlName="type">
        <ion-select-option *ngFor="let type of types" [value]="type"
          >{{type.name}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-button type="submit" [disabled]="this.form.invalid" expand="full"
      >Upload Photo</ion-button
    >
  </form>
</ion-footer>
