<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Picture upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="openCamera()" expand="full">Open Camera</ion-button>
  <ion-button (click)="openGallery()" expand="full">Open Gallery</ion-button>
  <img [src]="base64Image" alt="your photo will be displayed here">


</ion-content>

<form [formGroup]="form" (ngSubmit)="uploadPhoto()">
  <ion-list>
    <ion-item>
      <ion-label>Colors</ion-label>
      <ion-select multiple="true" interface="alert" formControlName="color">
        <ion-select-option *ngFor="let color of colors" [value]="color">{{color.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Categories</ion-label>
      <ion-select multiple="true" interface="alert" formControlName="category">
        <ion-select-option *ngFor="let category of categories" [value]="category">{{category.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select multiple="false" interface="alert" formControlName="type">
        <ion-select-option *ngFor="let type of types" [value]="type">{{type.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button  type="submit" [disabled]="this.form.invalid" expand="full">Upload Photo</ion-button>
</form>


