<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Generated Outfits</ion-title>
    <ion-back-button slot="end"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="error-message" *ngIf="errorText">
    <ion-label class="error-text"> {{errorText}} </ion-label>
  </div>

  <ion-spinner name="bubbles" *ngIf="showSpinner"></ion-spinner>

  <ion-list>
    <ion-card *ngFor="let outfit of outfits; let i = index" class="ion-padding">
      <ion-item>
        <ion-input placeholder="Outfit name" #outfitName></ion-input>
        <ion-button slot="end" (click)="saveOutfit(outfit, outfitName.value)">Save</ion-button>
      </ion-item>

      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" *ngFor="let clothing of outfit.clothes">
            <ion-img
              [src]="clothing.picture"
              alt="picture"
              (click)="goToClothingPage(clothing)"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
  </ion-list>

</ion-content>

