<ion-header>
  <ion-toolbar>
    <ion-title>Generate Outfit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
    <form [formGroup]="form">
      <ion-item>
        <ion-label>Choose an outfit category</ion-label>
        <ion-select multiple="false" interface="alert" formControlName="category">
          <ion-select-option *ngFor="let category of clothing.categories" [value]="category">{{category.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="full"(click)="generateOutfit()" [disabled]="form.invalid">Generate Outfit</ion-button>
    </form>


</ion-content>
